/*** BOX ***/

@media all and (min-width: 768px) {
  .cu-box.float-right {
    width: 40%;
    margin: 0 0 20px 20px;
    float: right;
  }
  .cu-box.float-left {
    width: 40%;
    margin: 0 20px 20px 0;
    float: left;
  }
}

.cu-box .padding {
  padding: 20px;
}

.cu-box {
  overflow: hidden;
}

.cu-box .box-content {
  padding-top: 10px;
}
.cu-box .box-content p:last-child {
  margin-bottom: none;
}
.cu-box.border-black {
  border: 1px solid #000;
}
.cu-box.border-black .box-title {
  border-bottom: 1px solid #000;
}
.cu-box.border-white {
  border: 1px solid #fff;
}
.cu-box.border-white .box-title {
  border-bottom: 1px solid #fff;
}
.cu-box.border-gray-dark {
  border: 1px solid #424242;
}
.cu-box.border-gray-dark .box-title {
  border-bottom: 1px solid #424242;
}
.cu-box.border-gray-light {
  border: 1px solid #eee;
}
.cu-box.border-gray-light .box-title {
  border-bottom: 1px solid #eee;
}
.cu-box.border-white {
  border: 1px solid rgba(128, 128, 128, 0.15);
}
.cu-box.border-white .box-title {
  border-bottom: 1px solid rgba(128, 128, 128, 0.15);
}
.cu-box .box-title {
  font-weight: bold;
  padding-bottom: 10px;
}
.cu-box.filled .box-title {
  background: rgba(128, 128, 128, 0.15);
}
.cu-box.background-gray-dark {
  background-color: #424242;
  color: #fff;
}

.cu-box.background-gray-dark {
  background-color: #424242;
  color: #fff;
}

.cu-box.background-gray-dark a:link,
.cu-box.background-gray-dark a:visited {
  color: #cfb87c;
  text-decoration: none;
}

.cu-box.background-gray-dark a:hover,
.cu-box.background-gray-dark a:active,
.cu-box.background-gray-dark a:focus {
  color: #fff;
}

.cu-box.background-gray-dark.color-border {
  border: 1px solid rgba(15, 15, 15, 0.4);
}

.cu-box.background-gray-light {
  background-color: #eeeeee;
  color: #111111;
}

.cu-box.background-gray-light a:link,
.cu-box.background-gray-light a:visited {
  color: #01579b;
  text-decoration: none;
}

.cu-box.background-gray-light a:hover,
.cu-box.background-gray-light a:active,
.cu-box.background-gray-light a:focus {
  color: #b71c1c;
}

.cu-box.background-gray-light.color-border {
  border: 1px solid rgba(187, 187, 187, 0.4);
}

/* COLUMN */
.content-column {
  margin-bottom: 20px;
}

@media screen and (min-width: 960px) {
  .content-column {
    margin-right: 4%;
    float: left;
  }
  .column-one-half {
    width: 48%;
  }
  .column-one-third {
    width: 30.66%;
  }
  .column-two-third {
    width: 65.33%;
  }
  .column-one-forth,
  .column-one-fourth,
  .column-one-quarter {
    width: 22%;
  }
  .column-three-forth,
  .column-three-fourth,
  .column-three-quarter {
    width: 74%;
  }
  .column-one-fifth {
    width: 16.8%;
  }
  .last {
    margin-right: 0;
  }
}

/*** EXPANDABLE CONTENT ***/

/* ACCORDION & Expand shortcode*/
.ui-accordion h3.ui-accordion-header,
.ui-accordion .ui-accordion-header,
.expand-set {
  background-image: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(128, 128, 128, 0.333);
}

.expand-set {
  margin-bottom: 20px;
  overflow: auto;
}

.ui-accordion h3.ui-accordion-header.ui-state-active,
.ui-accordion .ui-accordion-header.ui-state-active {
  border: none;
}

.ui-accordion .ui-accordion-header .ui-icon {
  display: none;
}

.ui-accordion .ui-accordion-header .ui-icon:before {
  content: "\f002 ";
  /* this is the Unicode for the icon */
  font-family: "Font Awesome 5 Free";
  /* font family is included in Canvas Framework */
  margin-right: 0.5em;
}

.ui-accordion h3.ui-accordion-header a,
.ui-accordion .ui-accordion-header a,
.expand-set a.expand-title {
  display: flex;
  flex-direction: row;
  background-image: none;
  background-color: transparent;
  padding: 10px 10px 10px 0px;
  border: none;
  text-decoration: none;
}

.ui-accordion h3.ui-accordion-header a:before,
.ui-accordion .ui-accordion-header a:before,
.expand-set a.expand-title:before {
  content: "\f0fe";
  font-family: "Font Awesome 5 Free";
  margin-right: 5px;
  margin-left: 1px;
  font-weight: normal !important;
}

.expand-set a.expand-title {
  font-size: 110%;
}

.ui-accordion h3.ui-accordion-header.ui-state-active a:before,
.ui-accordion .ui-accordion-header.ui-state-active a:before,
.expand-set a.expand-active:before {
  content: "\f146";
}

.expand-set a.expand-active {
  font-weight: bold;
}

.ui-accordion .ui-accordion-content,
.expand-set .expand-content {
  border: 1px solid rgba(128, 128, 128, 0.333);
  padding: 10px;
}

.expand-set .expand-content {
  border-bottom: none;
}

.small-expand-title i.fa,
.tooltip-expand-title i.fa {
  display: inline;
}

span.tooltip-expand-set {
  position: relative;
  display: inline;
}

.tooltip-expand-content {
  background: #111;
  border-radius: 5px;
  bottom: 26px;
  color: #fff;
  left: 0;
  position: absolute;
  z-index: 98;
  width: 240px;
  display: block;
}

.tooltip-expand-content a {
  color: #cfb87c;
}

.tooltip-expand-content:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #111 transparent transparent transparent;
  bottom: -20px;
  left: 20px;
}

.tooltip-inner {
  position: relative;
  padding: 15px 20px 15px 15px;
  display: block;
}

a.close-tip:link,
a.close-tip:visited {
  position: absolute;
  top: 5px;
  right: 5px;
  line-height: 100%;
  color: #858585;
}

a.small-expand-title:focus,
a.tooltip-expand-title:focus,
a.expand-title:focus {
  outline-offset: -1px;
}

/*** ICONS ***/
/** Icon styles */
.icon-color-black,
.exbd-icon-color-black,
a .icon-color-black,
a .exbd-icon-color-black {
  color: #000;
}

.icon-color-black.icon-wrapper-square,
.icon-color-black.icon-wrapper-rounded,
.icon-color-black.icon-wrapper-circle {
  background-color: #000;
  color: #fff;
}

.icon-color-white,
.exbd-icon-color-white,
a .icon-color-white,
a .exbd-icon-color-white {
  color: #fff;
}

.icon-color-white.icon-wrapper-square,
.icon-color-white.icon-wrapper-rounded,
.icon-color-white.icon-wrapper-circle {
  background-color: #fff;
  color: #111111;
}

.icon-color-gray,
.exbd-icon-color-gray,
a .icon-color-gray,
a .exbd-icon-color-gray {
  color: gray;
}

.icon-color-gray.icon-wrapper-square,
.icon-color-gray.icon-wrapper-rounded,
.icon-color-gray.icon-wrapper-circle {
  background-color: gray;
  color: #111111;
}

.icon-color-light-gray,
.exbd-icon-color-light-gray,
a .icon-color-light-gray,
a .exbd-icon-color-light-gray {
  color: #ccc;
}

.icon-color-light-gray.icon-wrapper-square,
.icon-color-light-gray.icon-wrapper-rounded,
.icon-color-light-gray.icon-wrapper-circle {
  background-color: #ccc;
  color: #111111;
}

.icon-color-dark-gray,
.exbd-icon-color-dark-gray,
a .icon-color-dark-gray,
a .exbd-icon-color-dark-gray {
  color: #333;
}

.icon-color-dark-gray.icon-wrapper-square,
.icon-color-dark-gray.icon-wrapper-rounded,
.icon-color-dark-gray.icon-wrapper-circle {
  background-color: #333;
  color: #fff;
}

.icon-color-gold,
.exbd-icon-color-gold,
a .icon-color-gold,
a .exbd-icon-color-gold {
  color: #cfb87c;
}

.icon-color-gold.icon-wrapper-square,
.icon-color-gold.icon-wrapper-rounded,
.icon-color-gold.icon-wrapper-circle {
  background-color: #cfb87c;
  color: #111111;
}

.icon-color-blue,
.exbd-icon-color-blue,
a .icon-color-blue,
a .exbd-icon-color-blue {
  color: #4fc3f7;
}

.icon-color-blue.icon-wrapper-square,
.icon-color-blue.icon-wrapper-rounded,
.icon-color-blue.icon-wrapper-circle {
  background-color: #4fc3f7;
  color: #111111;
}

.icon-color-red,
.exbd-icon-color-red,
a .icon-color-red,
a .exbd-icon-color-red {
  color: #b71c1c;
}

.icon-color-red.icon-wrapper-square,
.icon-color-red.icon-wrapper-rounded,
.icon-color-red.icon-wrapper-circle {
  background-color: #b71c1c;
  color: #fff;
}

.icon-color-yellow,
.exbd-icon-color-yellow,
a .icon-color-yellow,
a .exbd-icon-color-yellow {
  color: #ffd740;
}

.icon-color-yellow.icon-wrapper-square,
.icon-color-yellow.icon-wrapper-rounded,
.icon-color-yellow.icon-wrapper-circle {
  background-color: #ffd740;
  color: #111111;
}

.icon-color-green,
.exbd-icon-color-green,
a .icon-color-green,
a .exbd-icon-color-green {
  color: #2e7d32;
}

.icon-color-green.icon-wrapper-square,
.icon-color-green.icon-wrapper-rounded,
.icon-color-green.icon-wrapper-circle {
  background-color: #2e7d32;
  color: #fff;
}

.icon-color-purple,
.exbd-icon-color-purple,
a .icon-color-purple,
a .exbd-icon-color-purple {
  color: #5e35b1;
}

.icon-color-purple.icon-wrapper-square,
.icon-color-purple.icon-wrapper-rounded,
.icon-color-purple.icon-wrapper-circle {
  background-color: #5e35b1;
  color: #fff;
}

.icon-color-orange,
.exbd-icon-color-orange,
a .icon-color-orange,
a .exbd-icon-color-orange {
  color: #ff9800;
}

.icon-color-orange.icon-wrapper-square,
.icon-color-orange.icon-wrapper-rounded,
.icon-color-orange.icon-wrapper-circle {
  background-color: #ff9800;
  color: #111111;
}

.icon-color-brick,
.exbd-icon-color-brick,
a .icon-color-brick,
a .exbd-icon-color-brick {
  color: #ae5a39;
}

.icon-color-brick.icon-wrapper-square,
.icon-color-brick.icon-wrapper-rounded,
.icon-color-brick.icon-wrapper-circle {
  background-color: #ae5a39;
  color: #fff;
}

.icon-size-regular {
  font-size: 100%;
}

.icon-size-medium {
  font-size: 150%;
}

.icon-size-large {
  font-size: 300%;
}

.icon-size-xlarge {
  font-size: 400%;
}

.icon-color-black,
a:link .icon-color-black,
a:visited .icon-color-black,
a:hover .icon-color-black {
  color: #000;
  border-color: #000;
}

.icon-color-white,
a:link .icon-color-white,
a:visited .icon-color-white,
a:hover .icon-color-white {
  color: #fff;
  border-color: #fff;
}

.icon-color-dark-gray,
a:link .icon-color-dark-gray,
a:visited .icon-color-dark-gray,
a:hover .icon-color-dark-gray {
  color: #444;
  border-color: #444;
}

.icon-color-gray,
a:link .icon-color-gray,
a:visited .icon-color-gray,
a:hover .icon-color-gray {
  color: #808080;
  border-color: #808080;
}

.icon-color-light-gray,
a:link .icon-color-light-gray,
a:visited .icon-color-light-gray,
a:hover .icon-color-light-gray {
  color: #ccc;
  border-color: #ccc;
}

.icon-color-gold,
a:link .icon-color-gold,
a:visited .icon-color-gold,
a:hover .icon-color-gold {
  color: #cfb87c;
  border-color: #cfb87c;
}

/* icon wrapper */
.icon-wrapper-square {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px !important;
  vertical-align: middle;
  padding: 0px;
}

.icon-wrapper-rounded {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px !important;
  vertical-align: middle;
  padding: 0px;
}

.icon-wrapper-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px !important;
  vertical-align: middle;
  padding: 0px;
}

.icon-wrapper-ring {
  border-width: 1px;
  border-style: solid;
}

.icon-color-black.icon-wrapper-square,
.icon-color-black.icon-wrapper-rounded,
.icon-color-black.icon-wrapper-circle,
a:link .icon-color-black.icon-wrapper-square,
a:link .icon-color-black.icon-wrapper-rounded,
a:link .icon-color-black.icon-wrapper-circle,
a:visited .icon-color-black.icon-wrapper-square,
a:visited .icon-color-black.icon-wrapper-rounded,
a:visited .icon-color-black.icon-wrapper-circle,
a:hover .icon-color-black.icon-wrapper-square,
a:hover .icon-color-black.icon-wrapper-rounded,
a:hover .icon-color-black.icon-wrapper-circle {
  background-color: #000;
  color: #fff;
}

.icon-color-white.icon-wrapper-square,
.icon-color-white.icon-wrapper-rounded,
.icon-color-white.icon-wrapper-circle,
a:link .icon-color-white.icon-wrapper-square,
a:link .icon-color-white.icon-wrapper-rounded,
a:link .icon-color-white.icon-wrapper-circle,
a:visited .icon-color-white.icon-wrapper-square,
a:visited .icon-color-white.icon-wrapper-rounded,
a:visited .icon-color-white.icon-wrapper-circle,
a:hover .icon-color-white.icon-wrapper-square,
a:hover .icon-color-white.icon-wrapper-rounded,
a:hover .icon-color-white.icon-wrapper-circle {
  background-color: #fff;
  color: #000;
}

.icon-color-dark-gray.icon-wrapper-square,
.icon-color-dark-gray.icon-wrapper-rounded,
.icon-color-dark-gray.icon-wrapper-circle,
a:link .icon-color-dark-gray.icon-wrapper-square,
a:link .icon-color-dark-gray.icon-wrapper-rounded,
a:link .icon-color-dark-gray.icon-wrapper-circle,
a:visited .icon-color-dark-gray.icon-wrapper-square,
a:visited .icon-color-dark-gray.icon-wrapper-rounded,
a:visited .icon-color-dark-gray.icon-wrapper-circle,
a:hover .icon-color-dark-gray.icon-wrapper-square,
a:hover .icon-color-dark-gray.icon-wrapper-rounded,
a:hover .icon-color-dark-gray.icon-wrapper-circle {
  background-color: #444;
  color: #fff;
}

.icon-color-gray.icon-wrapper-square,
.icon-color-gray.icon-wrapper-rounded,
.icon-color-gray.icon-wrapper-circle,
a:link .icon-color-gray.icon-wrapper-square,
a:link .icon-color-gray.icon-wrapper-rounded,
a:link .icon-color-gray.icon-wrapper-circle,
a:visited .icon-color-gray.icon-wrapper-square,
a:visited .icon-color-gray.icon-wrapper-rounded,
a:visited .icon-color-gray.icon-wrapper-circle,
a:hover .icon-color-gray.icon-wrapper-square,
a:hover .icon-color-gray.icon-wrapper-rounded,
a:hover .icon-color-gray.icon-wrapper-circle {
  background-color: #808080;
  color: #fff;
}

.icon-color-light-gray.icon-wrapper-square,
.icon-color-light-gray.icon-wrapper-rounded,
.icon-color-light-gray.icon-wrapper-circle,
a:link .icon-color-light-gray.icon-wrapper-square,
a:link .icon-color-light-gray.icon-wrapper-rounded,
a:link .icon-color-light-gray.icon-wrapper-circle,
a:visited .icon-color-light-gray.icon-wrapper-square,
a:visited .icon-color-light-gray.icon-wrapper-rounded,
a:visited .icon-color-light-gray.icon-wrapper-circle,
a:hover .icon-color-light-gray.icon-wrapper-square,
a:hover .icon-color-light-gray.icon-wrapper-rounded,
a:hover .icon-color-light-gray.icon-wrapper-circle {
  background-color: #ccc;
  color: #000;
}

.icon-color-gold.icon-wrapper-square,
.icon-color-gold.icon-wrapper-rounded,
.icon-color-gold.icon-wrapper-circle,
a:link .icon-color-gold.icon-wrapper-square,
a:link .icon-color-gold.icon-wrapper-rounded,
a:link .icon-color-gold.icon-wrapper-circle,
a:visited .icon-color-gold.icon-wrapper-square,
a:visited .icon-color-gold.icon-wrapper-rounded,
a:visited .icon-color-gold.icon-wrapper-circle,
a:hover .icon-color-gold.icon-wrapper-square,
a:hover .icon-color-gold.icon-wrapper-rounded,
a:hover .icon-color-gold.icon-wrapper-circle {
  background-color: #cfb87c;
  color: #000;
}

.icon-wrapper-square.fa-lg,
.icon-wrapper-rounded.fa-lg,
.icon-wrapper-circle.fa-lg,
.icon-wrapper-ring.fa-lg {
  width: 40px;
  height: 40px;
  line-height: 40px !important;
}

.icon-wrapper-square.fa-2x,
.icon-wrapper-rounded.fa-2x,
.icon-wrapper-circle.fa-2x,
.icon-wrapper-ring.fa-2x {
  width: 60px;
  height: 60px;
  line-height: 60px !important;
}

.icon-wrapper-square.fa-3x,
.icon-wrapper-rounded.fa-3x,
.icon-wrapper-circle.fa-3x,
.icon-wrapper-ring.fa-3x {
  width: 90px;
  height: 90px;
  line-height: 90px !important;
}

.icon-wrapper-square.fa-4x,
.icon-wrapper-rounded.fa-4x,
.icon-wrapper-circle.fa-4x,
.icon-wrapper-ring.fa-4x {
  width: 120px;
  height: 120px;
  line-height: 120px !important;
}

.icon-wrapper-square.fa-5x,
.icon-wrapper-rounded.fa-5x,
.icon-wrapper-circle.fa-5x,
.icon-wrapper-ring.fa-5x {
  width: 150px;
  height: 150px;
  line-height: 150px !important;
}

/**** Callout shortcode CSS ****/
.feature-layout-wrapper .feature-layout-callout img {
  max-width: 100% !important;
}

.feature-layout-callout {
  width: 240px;
  float: right;
  margin: 0 0 40px 40px;
  clear: both;
}

.feature-layout-callout img.image-square-thumbnail {
  width: 110px;
  height: auto;
  display: block;
  float: left;
  margin: 0 10px 10px 0;
}

.feature-layout-callout,
.feature-layout-callout-large,
.feature-layout-callout-xlarge {
  width: auto;
  float: none;
  margin: 40px 0 20px;
}

@media all and (min-width: 720px) and (max-width: 959px) {
  .feature-layout-callout {
    width: 240px;
    float: right;
    margin: 0 0 40px 40px;
    clear: right;
  }
  .feature-layout-callout-large {
    width: 320px;
    float: right;
    margin: 0 0 40px 40px;
  }
  .feature-layout-callout-xlarge {
    width: 400px;
    float: right;
    margin: 0 0 40px 40px;
  }
}
@media (min-width: 960px) {
  .feature-layout-callout {
    width: 240px;
    float: right;
    margin: 0 0 40px 40px;
  }
  .feature-layout-callout-large {
    margin: 0 0 40px 40px;
    width: 380px;
    float: right;
  }
  .feature-layout-callout-xlarge {
    margin: 0 0 40px 40px;
    width: 520px;
    float: right;
  }
  .feature-layout-wrapper .feature-layout-callout,
  .feature-layout-wrapper .feature-layout-callout-large,
  .feature-layout-wrapper .feature-layout-callout-xlarge {
    margin-right: -260px;
  }
}
.feature-layout-callout .content-width-container {
  max-width: none;
  padding: 0;
  margin: 0;
  width: auto;
}

/*** GIVE ***/
.icon-cu {
  font-family: "culogo" !important;
  speak: none;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-cu:before {
  content: "\e000";
}

/* Map */
.embed-map-static {
  display: block;
  background-color: #eee;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  position: relative;
}
.embed-map-static span {
  position: absolute;
  bottom: 0;
  right: 0;
}

.embed-map-label {
  display: block;
  background: #000;
  color: #fff !important;
  padding: 5px 8px;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}
.embed-map-label:before {
  content: "\f14c";
  font-family: FontAwesome;
  margin-right: 5px;
}

iframe.map-small,
.embed-map-size-small {
  height: 250px;
  width: 100%;
}

iframe.map-medium,
.embed-map-size-medium {
  height: 350px;
  width: 100%;
}

iframe.map-large,
.embed-map-size-large {
  height: 450px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  iframe.map-small,
  .embed-map-size-small {
    height: 450px;
    width: 100%;
  }
  iframe.map-medium,
  .embed-map-size-medium {
    height: 550px;
    width: 100%;
  }
  iframe.map-large,
  .embed-map-size-large {
    height: 650px;
    width: 100%;
  }
}
.map-link {
  display: inline-block;
  font-size: 85%;
  text-align: right;
}

a.map-link span {
  background: black;
  padding: 2px;
  color: white;
}