{#
/**
 * @file
 * Default theme implementation for the column shortcode.
 *
 * Available variables:
 * - text
 * - size
 * - order
 */
#}	

<div class="content-column column-{{ size }} {{ order }}">
	{{ text|t }}
</div>
