{#
/**
 * @file
 * Default theme implementation for the expand shortcode.
 *
 * Available variables:
 * - text
 * - title
 * - style
 */
#}
<div class="accordion" data-accordion-id="{{ random() }}">
  <div class="accordion-item">
    <div class="accordion-header">
      <a class="accordion-button collapsed" href="#">{{ title }}</a>
    </div>
    <div class="accordion-collapse">
      <div class="accordion-body">
        {{ text }}
      </div>
    </div>
  </div>
</div>
