{#
/**
 * @file
 * Default theme implementation for the buttongroup shortcode.
 *
 * Available variables:
 * - color: The background color.
 * - size: The size of the button group.
 * - text: The buttons.
 */
#}
<div class="ucb-button-group ucb-link-button-{{ size }} ucb-link-button-{{ color }}">
		{{ text|t }}
</div>