{#
/**
 * @file
 * Default theme implementation for the countdown shortcode.
 *
 * Available variables:
 * - text (the date)
 * - style (inline/float)
 * - background (solid/transparent)
 * - size (regular/full)
 */
#}	

<div class="cu-countdown countdown-{{ style }} countdown-{{ size }} countdown-{{ background }}">
	{{ text|t }}
</div>
