{#
/**
 * @file
 * Default theme implementation for the callout shortcode.
 *
 * Available variables:
 * - text 
 * - size
 */
#}
<div class="feature-layout-callout feature-layout-callout-{{ size }}">
  {{ text|raw }}
</div>
