{#
/**
 * @file
 * Default theme implementation for the image caption shortcode.
 *
 * Available variables:
 * - text 
 * - align
 */
#}

<div class="image-caption image-caption-{{ align }}">
{{ text|t }}
</div>