{#
/**
 * @file
 * Default theme implementation for the buttongroup shortcode.
 *
 * Available variables:
 * - columns: The number of columns.
 */
#}

<div class="columnlist columnlist-{{ columns }}">
	<ul>
		{{ text }}
	</ul>
</div>
