{#
/**
 * @file
 * Default theme implementation for the callout shortcode.
 *
 * Available variables:
 * - text 
 * - size
 */
#}

<div class="feature-layout-callout feature-layout-callout-{{ size }} feature-layout-callout-float-right clearfix">
	<div class="feature-layout-callout-inner element-max-width-padding">
		{{ text|t }}
	</div>
</div>
